<footer id="credit" class="lazyload hoverable">
  <div class="footer-content">
    <div>

    </div>
    <div class="copyright">
      <small>
        &copy; Copyright 2020-<script>document.write(new Date().getFullYear())</script> <span class="name"><%= data.main.copyright %></span>
      </small>
      <small class="developedby">
        <a href="https://buckup.cc" target="_blank">(website) designed + developed <strong>@ buckup.cc</strong></a>
      </small>
    </div>
  </div>
</footer> <%# credit %>

<div class="gdpr-container">
  <div class="gdpr-content-container">
    <p><%= data.main.gdpr_message %></p>
    <button>Agree</button>
  </div>
</div>
