<main id="main" class="hoverable">
  <div class="main-wrapper">
    <h2>
      LUNG+SKRT <span>Split</span> EP
    </h2>
    <div class="section-wrapper">
      <div class="record-release">
        <figure class="hoverable">
          <img src="/img/sm/lung-skrt-split-vinyl.png" data-src="/img/lg/lung-skrt-split-vinyl.png" class="lazyload" />
        </figure>

        <h3>
          Available April 10th
          <a href="https://romanusrecords.com/">on Romanus Records</a>
        </h3>
        <p>
          Limited Edition Pressing of 300
          <span>(2 selectable options)</span>
        </p>
      </div>
    </div>
  </div>

  <%= component "social" %>

  <div class="bg-img">
    <div><img class="img1 lazyload" src="/img/sm/background_main.png" data-src="/img/lg/background_main.png" alt="Image of SKRT Performing" /></div>
  </div>
</main>
