<nav id="nav">
  <h2>Navigation</h2>
  <div class="toggle-nav">
    <a class='menu-icon'>
      <span></span>
    </a>
  </div>
  <ul>
    <li class="link-stuff"><a href="#stuff" title="Stuff">Stuff</a></li>
    <li class="link-shows"><a href="#shows" title="Shows">shows</a></li>
    <li class="link-contact"><a href="#contact" title="Contact">Contact</a></li>
  </ul>
</nav>
